
table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 42%;
  
}
th, td{
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: #8338ec;
    text-align: center;
}